body{
    color:rgb(255, 0, 0);
    background-color:#ff50c8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*p{
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
}*/

#p1{
    font-style: normal;
}

#p2{
    font-style: italic;
}

img{
    height: 500px;
    width: 500px;
    /*border-radius: 500px;*/
}

@media(max-width:600px){
    img{
        height:auto;
        width:100%;
    }
}

video{
    /*height:500px;*/
    width:100%;
}

ol{
    list-style-type:lower-roman;
}

ul{
    list-style-type:square;
}

table,th,td{
    border:1px solid white;
    border-collapse: collapse;
}

h1{
    padding:50px;
    border:20px solid greenyellow;
    margin: 50px;
    padding:10px;
}

button:hover{
    background-color: aqua;
    border-radius: 5px;
}

button{
    padding:10px;
    margin: 20px;
}

nav{
    display:flex;
    flex-direction:column;
    /*gap:100px*/;
}

@media(max-width:1024px){
    nav{
        display:flex;
        flex-direction: row;
        gap:100px;
    }
}

.pclass{
    font-size: x-large;
}

.grid{
    display:grid;
}
@media(min-width:1024px){
    .grid{
       display:grid;
       grid-template-rows: 33% 33% 33%; 
    }
}

.cars{
    display:grid;
}
@media(min-width:1024px){
    .grid{
        display:grid;
    }
    #one{
    grid-row:1/2;
    }
    #two{
        grid-row:1/2;
    }
    #three{
    grid-row:1/2;
    }
    #four{
        grid-row:2/3;
    }
    #five{
        grid-row:2/3;
    }
    #six{
        grid-row:2/3;
    }
    
}

#car1{
    grid-row:1/2;
}
#car2{
    grid-row:1/2;
}
#car3{
    grid-row:2/3;
}
#car4{
    grid-row:2/3;
}